<?php if ($error_warning) { ?>
<div class="warning"><?php echo $error_warning; ?></div>
<?php } ?>
<?php if ($payment_methods) { ?>
<p><?php echo $text_payment_method; ?></p>
<table class="radio">
  <?php foreach ($payment_methods as $payment_method) { 

   

  ?>
  <tr class="highlight">
    <td><?php if ($payment_method['code'] == $code || !$code) { ?>
      <?php $code = $payment_method['code']; ?>
      <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" checked="checked" />
      <?php } else { ?>
      <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" id="<?php echo $payment_method['code']; ?>" />
      <?php } ?></td>
    <td>

    <label for="<?php echo $payment_method['code']; ?>">
<!-- ======================================================Viabill start========================================================= -->
           if ($payment_method['code'] == 'quickpay_viabill'){
            ?>

                <div id="vbquickpaytext">
                  <div class="ViaBill_pricetag_payment" style=" float: left; margin-top: 10px;" price="<?php echo $payment_method['priceTotal']; ?>"><?php echo $payment_method['title']; ?></div> &nbsp; <div style="float: left; padding-left: 12px;"><img src="catalog/view/viabillquickpay/viabill_logo.png" alt="ViaBill Solution" style="width:45"></div>    </div>
              <script type="text/javascript">
                  <?php echo $payment_method['qp_pricetagsrc']; ?>
                  var priceqp = <?php echo $payment_method['priceTotal'] ;?> ;
                 // alert(priceqp);
                 setTimeout(function(){
                  if( vb.isLow(priceqp)  ||  vb.isHigh(priceqp) ){
                      //alert("hello");
                  }
                  else{ document.getElementById("vbquickpaytext").innerHTML = "<?php echo $payment_method['title']; ?>";}

                },1000);
              </script>

         <?php }

          else { ?>
          <?php echo $payment_method['title']; } ?>

<!-- ===================================================ViaBill end========================================================== -->
    </label>

    </td>
  </tr>
  <?php } ?>
</table>
<br />
<?php } ?>
<b><?php echo $text_comments; ?></b>
<textarea name="comment" rows="8" style="width: 98%;"><?php echo $comment; ?></textarea>
<br />
<br />
<?php if ($text_agree) { ?>
<div class="buttons">
  <div class="right"><?php echo $text_agree; ?>
    <?php if ($agree) { ?>
    <input type="checkbox" name="agree" value="1" checked="checked" />
    <?php } else { ?>
    <input type="checkbox" name="agree" value="1" />
    <?php } ?>
    <input type="button" value="<?php echo $button_continue; ?>" id="button-payment-method" class="button" />
  </div>
</div>
<?php } else { ?>
<div class="buttons">
  <div class="right">
    <input type="button" value="<?php echo $button_continue; ?>" id="button-payment-method" class="button" />
  </div>
</div>
<?php } ?>

<!-- =======================================ViaBill start ================= -->
<style type="text/css">
  .viabill-pricetag-optional-styles{

    float: left; margin-top: 10px; !important
  }
</style>
<!-- ======================================ViaBill end ==================== -->

<script type="text/javascript"><!--
$('.colorbox').colorbox({
	width: 640,
	height: 480
});
//--></script> 
